<head>
  <link rel='stylesheet' href='stylesheets/styles.css' />
</head>
<body>
  <nav>
    <a class='nav-item' href='/'>Home</a>
    <a class='nav-item' href='/beers'>Beers</a>
    <a class='nav-item' href='/random-beer'>Random Beers!</a>
  </nav>
  <div class='body-container'>
    {{{body}}}
  </div>
</body>